.row-fluid
  .span2
    %br
  .span8
    = devise_error_messages!
.row-fluid
  .span2
    %br
  .span4
    = render "/shared/school_info"
  .span4
    .well
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
        =  f.hidden_field :invitation_token, :value => params[:invitation_token]
    
        %fieldset.account
          %legend Login Information
          %p Please fill out the following fields to register. You will use the email and password you provide to login.
          = f.label :email
          = f.email_field :email, :class => "span12-fluid"
          = f.label :password
          = f.password_field :password, :class => "span12-fluid"
          = f.label :password_confirmation
          = f.password_field :password_confirmation, :class => "span12-fluid"
        %fieldset.account
          %legend User Information
          %p Please fill out the following section to supplement your login credentials.
          = f.label :first_name
          = f.text_field :first_name, :class => "span12-fluid"
          = f.label :last_name
          = f.text_field :last_name, :class => "span12-fluid"
          = f.label :linked_in, 'LinkedIn'
          = f.text_field :linked_in, :class => "span12-fluid"
          %div.checkbox.inline
            = f.check_box :terms_of_service
            = f.label :terms_of_service, "I agree to the Terms of Service and Privacy Policy"
          %center
            = f.submit 'Sign Up', :class => "btn btn-primary btn-primary"

