#mainhub.span9
  .well
    .row-fluid
      .span12
        %h1.projectnamefont New Competition
    = form_for @competition do |f|
      .row-fluid{:style => "margin-top:18px;"}
        .span12
          = f.error_messages

      .row-fluid
        .span6
          = f.label :competition_name
          = f.text_field :competition_name, :class => "span12", :style => "width: 100%;"
          = f.label :logo, "Competition Logo"
          = f.file_field :logo, :style => "padding-bottom: 10px;"
          = f.label :city
          = f.text_field :city, :class => "span12", :style => "width: 100%;"
          = f.label :state
          = f.select :state, STATES, {:include_blank => 'No Selection'}, :class => "span12", :style => "width: 100%;"
          = f.label :location
          = f.text_field :location, :class => "span12", :style => "width: 100%;"
        .span6
          = f.label :business_plan, "Additional Information"
          = f.file_field :business_plan, :style => "padding-bottom: 10px;"
          = f.label :requirements, "Competition Requirements"
          = f.text_area :requirements, :class => "comment span12", :style => "width: 100%; max-width: 100%;", :rows => "1"
          = f.label :competition_details
          = f.text_area :competition_details, :class => "comment span12", :style => "width: 100%; max-width: 100%;", :rows => "1"
      .row-fluid
        .span12
          %center
            = f.submit "Save Competition", :class => "btn btn-danger btn-small btn-project"