#mainhub.span9
  .row-fluid
    .span9
      .well
        .row-fluid{:style => "margin-bottom:18px;"}
          .span12
            %h1.projectnamefont{:style => "text-align: top;"}= @competition.competition_name
        
        .row-fluid
          .span6
            %h4.edit_header= "#{raw('<i class="icon-info-sign"></i>')} Competition Information".html_safe
            %h5
              %i.icon-warning-sign
              Details
            %p= simple_format h (@competition.competition_details)

            %h5
              %i.icon-list-ol
              Requirements
            %p= simple_format h (@competition.requirements)
              
          .span6
            %h4.edit_header= "#{raw('<i class="icon-group"></i>')} Competition Panel".html_safe
            
    .span3
      = render 'shared/side_menu_competition'