%h4= link_to n.title, notification_path(n)
%strong.minifont= "( #{n.notification_type} )"
%br
-unless n.date == nil || n.time == nil
  %strong.minifont= "Time/Date: #{n.date.strftime("%m/%d/%Y")} (#{n.time.strftime("%I:%M %p")})"
%strong.minifont= "Description"
%p.minifont= n.description