%h5= link_to n.title, notification_path(n)
-unless n.date == nil || n.time == nil
  %strong.minifont= "Time/Date: "
  .minifont{:style => "display: inline-block;"}="#{n.date.strftime("%m/%d/%Y")} (#{n.time.strftime("%I:%M %p")})"
  %br
%strong.minifont= "Description:"
%p.minifont= n.description