#mainhub.span6
  .well
    = form_for @notification do |n|
      = n.hidden_field :notifier_id, :value => current_account.id
      = n.hidden_field :notifier_type, :value => "Account"
      = render "shared/notification_form", :n => n 
.span3
  = render :partial => "home/notifications"
