.row-fluid
  .span2
    %br
  .span8
    = devise_error_messages!
.row-fluid
  .span2
    %br
  .span4
    = render "/shared/school_info"
  .span4
    .well

      %fieldset.account 
        %legend Change your password
        %br
        = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
          
          = f.hidden_field :reset_password_token

          = f.label :password, "New password"
          = f.password_field :password, :class => "span12-fluid"
          = f.label :password_confirmation, "Confirm new password"
          = f.password_field :password_confirmation, :class => "span12-fluid"
          
          %center
            = f.submit "Change my password", :class => "btn btn-primary btn-primary"  
            
      .other{:style => "background-color: #e1e1e1; padding:5px;"}
        %center
          = render "devise/shared/links"

