#stickybox.sidemenu
  %ul.nav.nav-list
    %center
      / = image_tag @project.logo_url(:thumb)
      %h4= @competition.competition_name
    %li.divider
    - if @competition.accepting_business_plans?
      %li.nav-header
        Accepting Business Plans
      = link_to "#{raw('<i class="icon-download-alt"></i>')} Submit Your Business Plan!".html_safe, edit_competition_path(@competition), :class => "btn btn-danger"
      %li.divider
    %li.nav-header
      Competition Details
    %li
      %i.icon-map-marker
      Location
      %address.minifont
        = @competition.location
        %br
        = @competition.city + ", " + @competition.state
    %li{:style => "margin-bottom: 18px;"}
      %i.icon-calendar
      Date & Time of Competition
      .minifont
        = @competition.date.strftime("%A, %B %d, %Y")
        %br
        = @competition.time.strftime("%I:%M %p")
    -if @competition.prize?
      %li
        %i.icon-trophy
        Prize
        .minifont
          = @competition.prize
    / -if @competition.flyer?
    
    %li.divider
    %li.nav-header
      Additional Information
    = link_to "#{raw('<i class="icon-paper-clip"></i>')} Download Information".html_safe, edit_competition_path(@competition), :class => "btn btn-danger"