#stickybox.sidemenu
  %ul.nav.nav-list
    %center
      = image_tag @project.logo_url(:thumb)
      %h3= @project.business_name
  
    %li.divider
    / (controller.controller_name == "comments" && active_member?(@project) == false || account_signed_in? == false) or
    - if controller.action_name == "show" or active_member?(@project) == false or controller.controller_name == "comments" && active_member?(@project) or (controller.controller_name == "notifications" && controller.action_name != "new")
      - if active_member?(@project)
        %li.nav-header
          Edit Project 
        %li
          %a{:href => edit_project_path(@project)}
            %i.icon-pencil
            Edit This Project 
        %li.divider
      -if @project.business_plan.present?
        %li.nav-header
          Business Plan
        %li
          = link_to "#{raw('<i class="icon-arrow-down"></i>')} Download Business Plan".html_safe, @project.business_plan.url
        %li.divider
      %li.nav-header
        Project Navigation
      %li
        %a{:href => project_path(@project)}
          %i.icon-eye-open
          Project Overview
      %li
        %a{:href => "mailto: #{@project.contact_emails}"}
          %i.icon-envelope
          Email Team
      %li
        %a{:href => project_comments_path(@project)}
          %i.icon-comments-alt
          Comments
      - unless @project.notifications.count == 0 or nil
        %li
          %a{:href => project_notifications_path(@project)}
            %i.icon-bullhorn
            Notifications
      -if controller.controller_name == "projects" && controller.action_name == "show"
        -if active_member?(@project)
          %li.divider
          %li.nav-header
            Project Publish Options
          %center
          -unless @project.published #I had to format it like this because I couldn't figure out how to put a :method => :post in %a{href 
            %li
              = button_to "Publish Project", publish_project_path(@project), :class => "btn btn-danger", :method => :post
          -else
            %li
              = button_to "Unpublish Project", unpublish_project_path(@project), :class => "btn btn-danger", :method => :post
      -else
        %li.divider
        %li.nav-header
          Project Information
        %li
          %i.icon-pushpin
          Business Concept
          %li.minifont{:style => "display: inline-block;"}= "#{truncate(@project.business_concept)}..."
          %p.minifont{:style => "display: inline-block;"}=link_to "#{raw('<i class="icon-zoom-in"></i>')} Read More".html_safe, project_path(@project)
        %li
          %i.icon-briefcase
          Industry
        %li.minifont= @project.industry

        %li
          %i.icon-map-marker
          Location
        %li.minifont= "#{@project.city}, #{@project.state}"
    -else
      %li.nav-header
        Project Overview
      %li
        %a{:href => project_path(@project)}
          %i.icon-eye-open
          Project Overview 
      %li.divider
      %li.nav-header Edit Project Menu
      %li
        %a{:href => edit_project_path(@project, :step => 'General')}
          %i.icon-book
          General Information
      %li
        %a{:href => edit_project_path(@project, :step => 'Memberships')}
          %i.icon-group
          Team Information
      %li
        %a{:href => edit_project_path(@project, :step => 'Attachments')}
          %i.icon-camera
          Attach Media
      %li
        %a{:href => new_project_notification_path(@project)}
          %i.icon-bullhorn
          Post New Notification
      %li.divider
      %li.nav-header
        Project Publish Options
      %center
      -unless @project.published #I had to format it like this because I couldn't figure out how to put a :method => :post in %a{href 
        %li
          = button_to "Publish Project", publish_project_path(@project), :class => "btn btn-danger", :method => :post
      -else
        %li
          = button_to "Unpublish Project", unpublish_project_path(@project), :class => "btn btn-danger", :method => :post

