#main{:role => "main"}
  %ul#project_tiles
    / These are our grid blocks
    - all_projects.each do |project|
      %li
        %a{:href => "#{project_path(project)}", :style => "text-decoration:none; color: #222222"}
          %div{:class => "project#{project.id}_container"}
            %center
              - if project.logo?
                = image_tag project.logo_url(:thumb)
              - else
                %img{:src => "/assets/project_default.png"}
            %center
              %h3= project.business_name
            %h6 
              %i.icon-pushpin
              Business Concept
            %p{:style => "text-align:justify; font-size:11px;"}= project.business_concept
            
        .actions{:style => "margin-top: 10px; color: #666666; background-color: #ffffff"}
          / %span.badge
          /   %a{:href => "#", :style => "color: #ffffff; text-decoration:none;"}
          /     %i.icon-heart-empty
          /     Like
          %span.badge
            %a{:href => "#{project_comments_path(project)}", :style => "color: #ffffff; text-decoration:none;"}
              %i.icon-comments-alt
              Comment
    
          .floatright{:style => "float:right"}
            %span.badge
              %a{:href => "#{project_path(project)}", :style => "color: #ffffff; text-decoration:none;"}
                %i.icon-zoom-in
                Details
            

/ Once the images are loaded, initalize the Wookmark plug-in.
:javascript
  $('#project_tiles').imagesLoaded(function() {
    // Prepare layout options.
    var options = {
      autoResize: true, // This will auto-update the layout when the browser window is resized.
      container: $('#main'), // Optional, used for some extra CSS styling
      offset: 18, // Optional, the distance between grid items
    };

    // Get a reference to your grid items.
    var handler = $('#project_tiles li');

    // Call the layout function.
    handler.wookmark(options);

    // Capture clicks on grid items.
    handler.click(function(){


      // Update the layout.
      handler.wookmark();
    });
  });
