.well
  %h4{:style => "margin-bottom:10px;"} Notifications
  %center
    .btn.btn-large{:style => "margin-bottom:18px;"}
      %i.icon-pushpin
      = link_to 'Post a Notification', new_account_notification_path(current_account)
  %center
    %a.btn.btn-small{:href => "#", :style => "margin-bottom:18px;"}
      %i.icon-warning-sign.icon-large
      Priority
    %a.btn.btn-small{:href => "#", :style => "margin-bottom:18px;"}
      %i.icon-bullhorn.icon-large
      Recruiting
    %a.btn.btn-small{:href => "javascript:void(0)", :style => "margin-bottom:18px;"}
      %i.icon-comments-alt.icon-large
      Feedback
    %a.btn.btn-small{:href => "javascript:void(0)", :style => "margin-bottom:18px;"}
      %i.icon-beaker.icon-large
      New Projects
    %a.btn.btn-small{:href => "javascript:void(0)", :style => "margin-bottom:18px;"}
      %i.icon-asterisk.icon-large
      All Notifications
  .alert.alert-error
    %button.close{:type => "button" }
      ×
    %strong.minifont= "Impromptu meet-up Today (#{Date.today.to_formatted_s(:long)})"
    .minifont
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare egestas enim, non auctor nisi ultrices eu. Mauris vulputate pellentesque ullamcorper. Praesent a sapien ultricies ipsum cras amet.
  .alert.alert-error
    %button.close{:type => "button" }
      ×
    %strong.minifont= "Business Plan Submission ends Tomorrow! (#{Date.tomorrow.to_formatted_s(:long)})"
    .minifont
      Donec ornare egestas enim, non auctor nisi ultrices eu. Mauris vulputate pellentesque ullamcorper. Praesent a sapien ultricies ipsum cras amet.
  .alert.alert-error
    %button.close{:type => "button" }
      ×
    %strong.minifont= "UGA's Next Top Entrepreneur meeting (#{Date.tomorrow.to_formatted_s(:long)})"
    .minifont
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
  .alert.alert-info
    %button.close{:type => "button" }
      ×
    %strong.minifont= "ventureangel's looking for a programmer (apply now!)"
    .minifont
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare egestas enim, non auctor nisi ultrices eu. Mauris vulputate pellentesque ullamcorper. Praesent a sapien ultricies ipsum cras amet.
  .alert.alert-success
    %button.close{:type => "button" }
      ×
    %strong.minifont= "#{current_account.name} has commented on your business Plan"
    .minifont
      Donec ornare egestas enim, non auctor nisi ultrices eu. Mauris vulputate pellentesque ullamcorper. Praesent a sapien ultricies ipsum cras amet.
  .alert.alert-success
    %button.close{:type => "button" }
      ×
    %strong.minifont= "#{current_account.name} has commented on your business Plan"
    .minifont
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
  .alert.alert-info
    %button.close{:type => "button" }
      ×
    %strong.minifont= "Collegetraker is looking for a designer (apply now!)"
    .minifont
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare egestas enim, non auctor nisi ultrices eu. Mauris vulputate pellentesque ullamcorper.

  %ul.pager
    %li.previous
      %a{:href => "#"}
        &larr; Older
    %li.next
      %a{:href => "#"}
        Newer &rarr;
