.well
  %h3= "Hey #{current_account.first_name}!"
  .sidecontent_bar{:style => "margin-top:10px;"}
    .row-fluid
      .span3
        = image_tag current_account.avatar_url(:thumb)
      .span9
        %dl{:style => "margin-bottom:0px; margin-top:0px;"}
          %dt Name:
          %dd= current_account.name
          %dt Social:
          -if current_account.linked_in? == false
            %dd Please edit your profile to add your LinkedIn account
          -else
            %dd
              = link_to "#{raw('<i class="icon-linkedin-sign icon-large"></i>')} LinkedIn".html_safe, linkedinurl(current_account.linked_in), :target => "_blank"
  .sidecontent_bar{:style => "margin-top:10px;"}
    .row-fluid
      .span12{}
        %center
          = link_to "#{raw('<i class="icon-pencil"></i>')} Edit Profile".html_safe, edit_account_registration_path, "data-toggle" => "modal", :class => "btn btn-primary btn-small"

-if current_account.profile_type == "Admin"
  -if upcoming_comps
    .well
      %h4{:style => "margin-bottom:10px;"}
        %i.icon-warning-sign
        Competitions This Week
      - upcoming_comps.each do |comp|
        %a{:href => competition_path(comp)}
          %p= "#{comp.competition_name}" + " (#{comp.date.strftime("%m/%d/%Y")})"
          
      
        
  
  .well
    = render :partial => "home/admin_tables"
-else
  -if current_account.profile_type == "Contributor"
    %center
      .jumbobutton
        = link_to "#{raw('<i class="icon-beaker icon-large"></i>')} Start A New Project!".html_safe, new_project_path, :class => "btn btn-primary btn-large", :method => :get

  -if users_projects.count > 0
    .well
      %h4 My Current Projects
      - users_projects.each do |project|
        = render :partial => "home/my_projects", :locals => {:project => project}