.well
  %h3= "Hey #{current_account.first_name}!"
  .sidecontent_bar{:style => "margin-top:10px;"}
    .row-fluid
      .span3
        = image_tag current_account.avatar_url(:thumb) if current_account.avatar?
      .span9
        %dl{:style => "margin-bottom:0px; margin-top:0px;"}
          %dt Name:
          %dd= current_account.name
          %dt Social:
          -if current_account.linked_in == nil
            %dd Please edit your profile to update
          -else
            %dd
              = link_to "#{raw('<i class="icon-linkedin-sign icon-large"></i>')}".html_safe, current_account.linked_in, :target => "_blank"
              = link_to "#{raw('<i class="icon-twitter-sign icon-large"></i>')}".html_safe, current_account.linked_in, :target => "_blank"
              = link_to "#{raw('<i class="icon-facebook-sign icon-large"></i>')}".html_safe, current_account.linked_in, :target => "_blank"
              = link_to "#{raw('<i class="icon-github-sign icon-large"></i>')}".html_safe, current_account.linked_in, :target => "_blank"
              = link_to "#{raw('<i class="icon-google-plus-sign icon-large"></i>')}".html_safe, current_account.linked_in, :target => "_blank"
  .sidecontent_bar{:style => "margin-top:10px;"}
    .row-fluid
      .span12{}
        %center
          = link_to "#{raw('<i class="icon-pencil"></i>')} Edit Profile".html_safe, edit_account_registration_path, :remote => true, "data-toggle" => "modal", :class => "btn btn-danger btn-small"

%center
  .jumbobutton
    = link_to "#{raw('<i class="icon-beaker icon-large"></i>')} Start A New Project!".html_safe, new_project_path, :class => "btn btn-danger btn-large", :method => :get
.well
  %h3 My Current Projects
  - users_projects.each do |project|
    = render :partial => "home/my_projects", :locals => {:project => project}