- if account_signed_in?
  #mainhub.span9
    .well
      #mainhub_content
        .row-fluid
          .span12            
            - @invitations.each do |invitation|
              %tr
                %td= invitation.project.business_name
                %td= link_to "Accept Invitation", membership_path(invitation, :membership => { :pending => false}), :method => :put
                %td= link_to "Decline Invitation", membership_path(invitation), :method => :delete
        
            %h3{:style => "margin-bottom:10px;"} Latest Projects at The University of Georgia

            = render :partial => "all_projects_viewers"

- else  
  #mainhub.span9
    .well
      #mainhub_content
        .row-fluid
          .span12
            = render :partial => "all_projects_viewers"
  
