- if account_signed_in?
  #mainhub.span9
    .well
      #mainhub_content
        .row-fluid
          .span12            
            - @invitations.each do |invitation|
              .well_two{:style => "padding:10px;"}
                .row-fluid
                  .span10                  
                    = "You've been invited to join: "
                    %a{:href => "#{project_path(invitation.project.id)}"}
                      = invitation.project.business_name
                  .span2
                    %div{:style => "float:right"}
                      = "Invited on: " + invitation.created_at.strftime("%m/%d/%Y")
                .minifont
                  = link_to "#{raw('<i class = "icon icon-plus-sign"></i>')} Accept Invitation".html_safe, membership_path(invitation, :membership => { :pending => false}), :method => :put
                  = "/"
                  = link_to "#{raw('<i class = "icon icon-minus-sign"></i>')} Decline Invitation".html_safe, membership_path(invitation), :method => :delete
        
            %h3{:style => "margin-bottom:10px;"} Latest Projects at Georgia State University

            = render :partial => "all_projects_viewers"

- else  
  #mainhub.span9
    .well
      #mainhub_content
        .row-fluid
          .span12
            = render :partial => "all_projects_viewers"
  
