- if account_signed_in?
  %p You are signed in as #{current_account.email}. Not you? #{link_to "Sign Out", destroy_account_session_path, :method => :delete}
  %p= link_to "Edit", edit_account_registration_path
- else
  %p #{link_to "Join", new_account_registration_path} or #{link_to "Sign In", new_account_session_path}
%p= link_to "Start New Project", new_project_path

- @projects.each do |project|
  %tr
    %td= project.business_name
    %td= link_to "Edit", edit_project_path(project)
    %td= link_to 'Destroy', project, :confirm => 'Are you sure you want to delete this project?', :method => :delete
