#mainhub.span9
  .well
    .row-fluid
      .span12
        %h4.edit_header= "All submissions for #{link_to @competition.competition_name, competition_path(@competition)}".html_safe
        
        %table.table.table-striped
          %thead
            %tr
              %th
                Project Name
              %th
                Team Members
              %th
                Date Submitted
              %th
                Business Plan
              %th
                Comments
              %th
                Submission Actions
          %tbody
            - @submissions.each do |submission|
              %tr
                %td
                  = image_tag submission.project.logo_url(:tiny_thumb)
                  %a{:href => project_path(submission.project.id)}
                    = submission.project.business_name
                %td
                  - submission.project.members.each do |member|
                    %a{:href => account_path(member.id)}
                      %p= member.name
                %td
                  = submission.created_at.strftime("%d/%m/%Y")
                %td
                  = link_to "#{raw('<i class="icon-arrow-down"></i>')} Download Business Plan".html_safe, submission.project.business_plan.url unless submission.project.business_plan.url == nil
                %td
                  %a{:href => project_comments_path(submission.project.id)}
                    %i.icon-comments-alt
                    = "Leave Comment"
                %td
                  -if current_account.profile_type == "Admin" || active_member?(submission.project)
                    = link_to "#{raw('<i class="icon-trash"></i>')} Remove Submission".html_safe, submission, :method => :delete, :data => { :confirm =>'Are you sure?' }
