= f.error_messages
= f.hidden_field :commentable_id, :value => @project.id
= f.hidden_field :commentable_type, :value => 'Project'
= f.text_field :body
= submit_tag "Post Comment", :class => "btn btn-danger"

