= form_for @project do |f|
  %div
    = f.label :business_name
    %br
    = f.text_field :business_name
  %div
    = f.label :industry
    %br
    = f.select :industry, INDUSTRIES, {:include_blank => 'No Selection'}
  %div
    = f.label :city
    %br
    = f.text_field :city
  %div
    = f.label :state
    %br
    = f.select :state, STATES, {:include_blank => 'No Selection'}

  %div
    = f.label :business_concept
    %br
    = f.text_area :business_concept
  
  %div
    = f.submit "Create Project"
