%section{ :id=>"tabs"}
  %ul
    %li
      %a{:href => '#general'}
        General Info
    %li
      %a{:href => '#team'}
        Team Information
    %li
      %a{:href => '#hamburger'}
        Hamburger
= form_for @project, :html => {:multipart => true} do |f|
  %div#general.default
    = f.error_messages
    = f.label :logo, "Upload a picture for your Avatar"
    %br= f.file_field :logo
    %br= f.label :remote_logo_url, "or use an image URL"
    %br= f.text_field :remote_logo_url

    = f.label :business_name
    %br
    = f.text_field :business_name
    %br
    = f.label :industry
    %br
    = f.select :industry, INDUSTRIES, {:include_blank => 'No Selection'}
    %br
    = f.label :city
    %br
    = f.text_field :city
    %br
    = f.label :state
    %br
    = f.select :state, STATES, {:include_blank => 'No Selection'}
    %br
    = f.label :business_concept
    %br
    = f.text_area :business_concept
    %br
    = f.submit "Save Project"
%div#team.inactive
  %h3 Current Team Members
  - @project.members.each do |member|
    %tr
      %td= member.name
      %td= link_to "Remove Member", membership_path(member), :confirm => "Are you sure you want to delete this invitation?", :method => :delete
  %h3 Pending Team Members (These are only viewable while editing)
  - @project.pending_memberships.each do |pmember|
    %tr
      %td= pmember.account.label
      %td= link_to "Cancel invitation", membership_path(pmember), :confirm => "Are you sure you want to delete this invitation?", :method => :delete
    %br
  - @invitations.each do |invite|
    %tr
      %td= invite.label
      %td= link_to "Cancel invitation", invitation_path(invite), :confirm => "Are you sure you want to delete this invitation?", :method => :delete
    %br
  %br
  %br
  Add New Team Member
  %br
  = form_for :membership, url: memberships_path do |f|
    = f.error_messages
    = f.hidden_field :project, :value => @project.id
    = f.label :recipient_name, "Name"
    = f.text_field :recipient_name
    = f.label :email
    = f.email_field :email
    = submit_tag "Add New Team Member"
%div#hamburger.inactive
  Hamburger!

