.row-fluid
  .span12
    = form_for @project, :html => {:multipart => true} do |f|
      = f.error_messages
      %h4 General Information
      .row-fluid
        .span6
          = f.label :business_name
          = f.text_field :business_name, :class => "span12", :style => "width: 100%;"
          = f.label :industry
          = f.select :industry, INDUSTRIES, {:include_blank => 'No Selection'}, :class => "span12", :style => "width: 100%;"
          = f.label :city
          = f.text_field :city, :class => "span12", :style => "width: 100%;"
          = f.label :state
          = f.select :state, STATES, {:include_blank => 'No Selection'}, :class => "span12", :style => "width: 100%;"
        .span6
          = f.label :logo, "Business Logo"
          = f.file_field :logo, :style => "padding-bottom: 10px;"
          = f.label :business_plan, "Upload a business plan"
          = f.file_field :business_plan, :style => "padding-bottom: 10px;"
          = f.label :business_concept
          = f.text_area :business_concept, :class => "span12", :style => "width: 100%; max-width: 100%; max-height: 87px;"
      .row-fluid
        .span12
          %center
            = f.submit "Save Project", :class => "btn btn-danger btn-project"
