.row-fluid
  .span6
    %h4.edit_header Current Team Members
    - @project.memberships.each do |membership|
      = render 'existing_members', :membership => membership unless membership.pending?
    %h4 Pending Team Members 
    %p (These members are only viewable during editing)
    - @project.pending_memberships.each do |pmember|
      .well_two{:style => "padding:10px; margin-bottom: 0px;"}
        .row-fluid
          .span12
            = pmember.account.label
            .minifont= "Invited: #{(pmember.created_at).strftime("%m/%d/%Y")}"
            .minifont= link_to "#{raw('<i class="icon-trash"></i>')} Cancel Invitation".html_safe, membership_path(pmember), :confirm => "Are you sure you want to delete this invitation?", :method => :delete
      %br
    / %h4.edit_header Invited Team Members
    - @project.invitations.each do |invite|
      .well_two{:style => "padding:10px; margin-bottom: 0px;"}
        .row-fluid
          .span12
            = invite.label
            .minifont= "Invited: #{(invite.created_at).strftime("%m/%d/%Y")}"
            .minifont= link_to "#{raw('<i class="icon-trash"></i>')} Cancel Invitation".html_safe, invitation_path(invite), :confirm => "Are you sure you want to delete this invitation?", :method => :delete
      %br
  .span6
    %h4.edit_header Add New Team Member
    = form_for @project, :html => {:multipart => true} do |f|
      = f.error_messages
      = hidden_field_tag :step, @breadcrumb_name
      = f.fields_for :invitee_attributes do |ff| 
        = ff.label :name, "Name"
        = ff.text_field :name, :class => "span12", :style => "width: 100%;"
        = ff.label :email, "Email"
        = ff.email_field :email, :class => "span12", :style => "width: 100%;"
      .row-fluid
        .span12
          %center
            = f.submit "Save Memberships", :class => "btn btn-primary btn-project"

