#mainhub.span6
  .well
    .row-fluid{:style => "margin-bottom:18px;"}
      .span12
        %h1.projectnamefont New Project
    = form_for @project do |f|
      .row-fluid
        .span12
          = f.error_messages
  
      .row-fluid
        .span6
          = f.label :business_name
          = f.text_field :business_name, :class => "span12", :style => "width: 100%;"
          = f.label :industry
          = f.select :industry, INDUSTRIES, {:include_blank => 'No Selection'}, :class => "span12", :style => "width: 100%;"
          = f.label :city
          = f.text_field :city, :class => "span12", :style => "width: 100%;"
          = f.label :state
          = f.select :state, STATES, {:include_blank => 'No Selection'}, :class => "span12", :style => "width: 100%;"
        .span6
          = f.label :logo, "Business Logo"
          = f.file_field :logo, :style => "padding-bottom: 10px;"
          = f.label :business_concept
          = f.text_area :business_concept, :class => "span12", :style => "width: 100%; max-width: 100%; max-height: 147px;"
      .row-fluid
        .span12
          %center
            = f.submit "Save Project", :class => "btn btn-danger btn-small btn-project"
          
.span3
  = render :partial => "home/notifications"
