#mainhub.span9
  .row-fluid
    .span9
      .row-fluid
        .span12
          =render 'shared/breadcrumbs'
      .well
        .row-fluid{:style => "margin-bottom:18px;"}
          .span12
            %h1.projectnamefont{:style => "text-align: top;"}= @project.business_name
        
        -if @project.video_url.present? || @project.attachments.count > 1
          .row-fluid
            .span12
              %h4.edit_header= "#{raw('<i class="icon-picture"></i>')} Project Media".html_safe
              #image_container.image_container_scroll
                -if @project.video_url.present?
                  %iframe.image_property{:width => "445", :height =>"250", :src => "#{vid_link(@project.video_url)}"}
                - @project.attachments.each do |imageattachment|
                  %a{:href => imageattachment.file_url(:pop_up), :rel => "lightbox-pictures", :style => "text-decoration:none; border:0px;"} 
                    =image_tag imageattachment.file_url(:big_thumb), :class => "image_property"
        .row-fluid
          .span6
            %h4.edit_header= "#{raw('<i class="icon-info-sign"></i>')} Project Information".html_safe
            %h5
              %i.icon-pushpin
              Business Concept
            %p= @project.business_concept

            %h5
              %i.icon-briefcase
              Industry
            %p= @project.industry

            %h5
              %i.icon-map-marker
              Location
            %p= "#{@project.city}, #{@project.state}"
              
          .span6
            %h4.edit_header= "#{raw('<i class="icon-group"></i>')} Team Members".html_safe
            - unless @project.notifications.count(:conditions => {:notification_type => "Recruiting"}) == 0 or nil
              .alert.alert-success
                %h4 We're Looking For People To Join Our Team!
                %p.minifont Click the link below to view our recruiting notifications. You can read a description of what we're looking for and you can contact us if you're interested!
                %p.minifont= link_to "Recruiting Notifications", project_notifications_path(@project, :notification_type => "Recruiting")
            - @project.memberships.each do |membership|
              = render 'existing_members', :membership => membership unless membership.pending?
          
                
    .span3
      =render 'shared/side_menu'