#mainhub.span6
  .well
    .row-fluid{:style => "margin-bottom:18px;"}
      .span2
        = image_tag @project.logo_url(:thumb) if @project.logo?
      .span10
        %h1.projectnamefont{:style => "text-align: top;"}= @project.business_name
  
    .row-fluid

.span3
  .well
    -if @project.business_plan.present?
      %h3= "#{@project.business_name}'s Business Plan"
      .sidecontent_bar
        = link_to "#{raw('<i class="icon-arrow-down"></i>')} Download Business Plan".html_safe, @project.business_plan.url, :class => "btn btn-danger"
      .sidecontent_bar
    %h3= "#{@project.business_name}'s Team"
    .sidecontent_bar
      - @project.members.each do |member|
        .row-fluid
          .span2
            =image_tag member.avatar_url(:thumb) if member.avatar?
          .span10
            = member.name
            %br= link_to "#{raw('<i class="icon-linkedin-sign"></i>')} Linked In".html_safe, @project.business_plan.url
    