Hello, #{@account.first_name}!

You've been invited to join a new project on avidstarter! Please visit #{root_url} to accept or reject the invitation to join #{@project.business_name}.

You will not be included in the list of members of #{@project.business_name} unless you confirm your membership. You also won't receive any messages addressed to all members of the project.

___________________________________________________
This message was automatically sent from avidstarter #{root_url}. Please do not reply to this email, as no one will receive your message and we are unable to respond from this address.


