Hello #{@invitation.recipient_name}!
You've been invited to join a new project on avidstarter! Please click here to accept or deny the invitation to join the project named #{@project.business_name}

#{@sign_up_url}

You will not be included in the list of members of #{@project.business_name} unless you confirm your membership. You also won't receive any messages addressed to all members of the project.

______

This message was automatically sent from avidstarter #{root_url}. Please do not reply to this email, as no one will receive your message and we are unable to respond from this address.

