!!!
%html
  %head
    %title Avidstarter
    = stylesheet_link_tag    "avid", "avidresponsive", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=Rokkitt:400,700", :rel => "stylesheet", :type => "text/css"}
    
    
  %body
  = render :partial => "shared/topnavbar"
  
  #flash
    %center
      - flash.keys.each do |type|
        %div{ :id => type }
          = flash[type]
  
  .container-fluid{:style => "padding-top:20px;"}   
  
    = yield

