!!!
%html
  %head
    %title Avidstarter
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=Rokkitt:400,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600", :rel => "stylesheet", :type => "text/css"}
    
    
  %body
  = render :partial => "shared/topnavbar"
  
  #flash
    %center
      - flash.keys.each do |type|
        %div{ :id => type }
          = flash[type]
  
  .container-fluid{:style => "padding-top:20px;"}   
    - if account_signed_in?
      .row-fluid
        .span3
          = render :partial => "home/profile"
        = yield
    
    - else
      / .row-fluid
      /   .span3
      /     %img{:src => "/assets/uga2.png"}
      /     .well{:style => "margin-top:18px;"}
      /       = render :partial => "devise/sessions/sign_in"
      = yield
        

